<h1>プロフィールを編集する</h1>
<%= form_with model: @user, local: true do |f| %>

<%= render 'shared/error_messages', model: f.object %>

  <div class="field">
    <%= f.label "アイコン" %><br />
    <%= f.file_field :image, autofocus: true, autocomplete: "image" %>
  </div>

  <div class="field">
    <%= f.label "ニックネーム" %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "達成したい目標" %><br />
    <%= f.text_field :goal, autofocus: true, autocomplete: "goal" %>
  </div>

  <div class="field">
    <%= f.label "中間目標" %><br />
    <%= f.text_field :second_goal, autofocus: true, autocomplete: "second_goal" %>
  </div>

  <div class="field">
    <%= f.label "目標を達成するためにやること" %><br />
    <%= f.text_field :to_do, autofocus: true, autocomplete: "to_do" %>
  </div>

  <div class="actions">
    <%= f.submit "編集する" %>
  </div>
<% end %>

