<div class = "header" >
  <%= @community.name  %>
  <%= link_to "新規投稿", new_community_post_path,class: "text" %>
  <%= link_to "ホームに戻る", root_path,class: "text" %>
</div>

<div class="wrapper">
  <div class= "side_bar">
    <%= link_to image_tag(current_user.image.variant(resize: '500x500'),class: "mypage_user_icon"), user_path(current_user.id) %>
        <%= current_user.nickname %>
        <%= current_user.goal %>
        <%= current_user.second_goal %>
        <%= current_user.to_do %>
  </div>

  <div class ="main_posts", id="vote-box">
    <%= render partial: "main", collection: @posts, as: "post" %>
  </div>

</div>