<div class = "mypost">
  <%= link_to image_tag(@post.user.image.variant(resize: '500x500'),class: "mypage_user_icon"), user_path(@post.user.id) %>
  <%= @post.user.nickname %>
  <%= @post.text%>
 <% if user_signed_in? && current_user.id == @post.user.id %>
  <%= link_to "投稿の削除", post_path(@post.id), method: :delete %>
 <% end %>
 <%= form_with(model: [@post,@comment], local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
    <%= f.text_area :text, placeholder: "コメントする" %>
    <%= f.submit "送信する" %>
  <% end %>

  <div class="comments">
    <h4>コメント一覧</h4>
    <% @comments.each do |comment| %>
      <%= link_to image_tag(comment.user.image.variant(resize: '500x500'),class: "mypage_user_icon"), user_path(comment.post.user.id) %>
      <%= comment.user.nickname %>
      <%= comment.text %>
      <% if current_user.id == comment.user.id %>
        <%= link_to "削除する",  post_comment_path(comment.post.id, comment.id), method: :delete %>
      <% end %>
    <% end %>


</div>